<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lucas.salao20">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTheme">

        <!-- ACTIVITYS -->
        <activity
            android:name=".activitys.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activitys.SignUpActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleInstance"/>

        <activity
            android:name=".activitys.SplashScreenActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance" />


        <activity
        android:name=".activitys.ConfiguracaoInicialSalaoActivity"
        android:configChanges="orientation|screenSize"
        android:windowSoftInputMode="stateHidden"
        android:launchMode="singleInstance"/>

        <activity
            android:name=".activitys.ConfiguracaoInicialProfissionalActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleInstance"/>

        <activity
            android:name=".activitys.ConfiguracaoInicialClienteActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleInstance"/>

        <activity
            android:name=".activitys.HomeClienteActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleInstance"/>

        <activity
            android:name=".activitys.HomeSalaoActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleInstance"/>

        <activity
            android:name=".activitys.HomeProfissionalActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleInstance"/>


        <activity android:name=".activitys.TipoUsuarioActivity" />

        <activity android:name=".activitys.TesteActivity" />



    </application>

</manifest>